.navbar {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 1);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 1000;
}

.navbarLeft {
    padding-top: 10px;
    padding-left: 10px;
    display: flex;   
}

.navbarRight {
    padding-top: 10px;
    margin-right: 50px;
    display: flex;
}

.logo {
    align-self: center;
    width: 45px;
    height: 35px;
}

.navbarItem {
    padding-right: 50px;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbarItem a {
    text-decoration: none;
    color: inherit;
}

.navbarLeft h1 {
    font-size: 2rem;
    display: flex;
    align-items: center; 
}

.navbarButton {
    background: none;
    border: none;
    padding: 0;
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
}